HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.env
/redisdata/appendonlydir/appendonly.aof.1.base.rdb
/redisdata/appendonlydir/appendonly.aof.1.incr.aof
/redisdata/appendonlydir/appendonly.aof.manifest
/redisdata/dump.rdb
/data/.minio.sys/buckets/.usage.json/xl.meta
/data/.minio.sys/tmp/3f3f93e4-a928-4edc-b4ad-20214843b612
/data/.minio.sys/format.json
/data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
/data/.minio.sys/config/config.json/xl.meta
/data/.minio.sys/config/iam/format.json/xl.meta
/data/.minio.sys/pool.bin/xl.meta
/redisdata/
/data/
/config/
/.mvn/
