services:
  app:
#    image: serarturo/cloud-storage-app:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    depends_on:
      - db
      - redis
      - minio
    env_file:
      - .env
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - SPRING_DATA_REDIS_HOST=redis
      - MINIO_URL=http://minio:9000
    ports:
      - '8080:8080'
    restart: always
  frontend:
    build:
      context: ../cloud-storage-frontend
      dockerfile: Dockerfile
    container_name: cloud-storage-frontend
    env_file:
      - ../cloud-storage-frontend/.env
    ports:
      - '80:80'
  db:
    image: 'postgres:15'
    container_name: db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 10
  redis:
    image: redis:8.2.1
    container_name: redis
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_USER: ${REDIS_USER}
      REDIS_USER_PASSWORD: ${REDIS_USER_PASSWORD}
    ports:
      - "6379:6379"
    volumes:
      - ./redisdata:/data
    command: >
      sh -c '
        mkdir -p /usr/local/etc/redis &&
        echo "bind 0.0.0.0" > /usr/local/etc/redis/redis.conf &&
        echo "requirepass ${REDIS_PASSWORD}" >> /usr/local/etc/redis/redis.conf &&
        echo "appendonly yes" >> /usr/local/etc/redis/redis.conf &&
        echo "appendfsync everysec" >> /usr/local/etc/redis/redis.conf &&
        echo "user default on nopass ~* +@all" > /usr/local/etc/redis/users.acl &&
        echo "user ${REDIS_USER} on >${REDIS_USER_PASSWORD} ~spring:session:* +@all" >> /usr/local/etc/redis/users.acl &&
        redis-server /usr/local/etc/redis/redis.conf --aclfile /usr/local/etc/redis/users.acl
      '
#    command: redis-server --requirepass ${REDIS_PASSWORD}
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_USER}", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    ports:
      - "9000:9000"
      - "9090:9090"
    volumes:
      - minio-data:/minio
    command: server ~/minio --console-address :9090
    healthcheck:
      test: ["CMD", "curl", "-I", "${HOST}:9000/minio/health/ready"]
      interval: 30s
      timeout: 10s
      retries: 5
volumes:
  pgdata:
  minio-data: