services:
  postgres:
    image: 'postgres:18'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: 'cloud-storage'
      POSTGRES_USER: 'cloud-storage-application'
      POSTGRES_PASSWORD: 'cloud-storage-application'
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U cloud-storage-application -d cloud-storage-application" ]
      interval: 10s
      timeout: 5s
      retries: 10
volumes:
  pgdata: